@import "../variables.scss";


.main-layout {
 min-height: 100vh;
 overflow: hidden;

 &__page-content {
   flex: 1 1 auto;
   padding: 16px 24px;
 }

 &__page-footer {
   background-color: rgba(0, 0, 0, 0.88);
 }
}
//sider 

.sider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.logo-tekst {
  font-family: 'Dancing Script', cursive;
  color: aliceblue;
  display: inline-block;
  font-weight: 450px;
  text-align: center;
  margin: 5px;

  // @media (max-width: 768px) {
  //    color: black;
  //    }
}

.logo-svg {
  align-items: center;

}

.sider-logout {
  position: absolute;
  bottom: 65px;
  right: 33px;
  display: flex;
  border-color: var(--accent-background-color);
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  color: var(--btn-text-color);
  background-color: var(--accent-background-color);
  box-shadow: var(--shadow-logout-btn);
  border-radius: 10px;
  transition: background-color var(--animation);
  height: auto;

  @media (max-width: 768px) {
      font-size: 12px;
      padding: 4px;
      width: auto;
 }
}

.general-font {
  margin-right: 10px;
  padding-right: 6px;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
}

ul li:last-child {
  position: absolute;
  top: 440px;
}

@media (max-width: 768px) {
  .ant-layout-sider {
    display: none;
  }

  .ant-layout {
    margin-left: 0;
  }
}

// header
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;

  @media (max-width: 768px) {
    .ant-layout-sider {
      display: none;
    }

    .sider-trigger {
      display: none;
    }

  }
  
  @media (max-width: 580px) {
    justify-content: center;
  }
}

.mobile-burger-menu {
  margin-left: 25px;
  margin-top: 10px;
  font-size: 30px;
  position: absolute;
  top: -24px;
  left: -3px;
  @media (min-width: 768px) {
    display: none;
}

}
.anticon svg {
  display: inline-block;
  font-size: 20px;
}
.header-burger-batton {
  font-size: 16px;
  width: 64px !important;
  height: 64px;
  position: absolute;
  top: -11px;

  @media (max-width: 768px) {
      display: none;
  }
}

ul li:last-child {
  position: absolute;
  top: 440px;

  @media (max-width: 768px) {
    top: 10px;
}
}

.ant-drawer-body {
max-height: max-content;
}

.header {
  height: 80px;

  &-page {
    margin-left: 60px;
    font-family: var(--primary-font);
  }

  &-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 16px;

    @media (max-width: 580px) {
      display: none;
    }

    &__theme {
      width: 50px;
      height: 50px;
    }

    &__name {
      font-family: var(--primary-font);
      

    }

    &__icon {
      width: 50px;
      height: 50px;
    }
  }

  // drawer
  .sider-drawer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      margin-top: 0px;
  }
  }
  
  .logo-drawer-tekst {
    font-family: 'Dancing Script', cursive;
    color: black;
    display: inline-block;
    font-weight: 450px;
    text-align: center;
    margin: 5px;

  }
  
  .logo-drawer-svg {
    // align-items: center;
  }
}


